body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li { 
  list-style-type: none;
}

.articles {
  display: flex;
  flex-direction: row;
}

.article {
max-width: 100%;
display: flex;
flex-direction: column;
margin-top: 2rem;
margin-bottom: 2rem;

 &__title {
  text-align: center;
 }
 &__description {
  text-align: center;
 }
}

.img {
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  align-self: center;
  border-radius: 1rem;
}